:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  font-size: 62.5%;

  --f-family-Fraunces: 'Fraunces', serif;
  --f-family-Montserrat: 'Montserrat', sans-serif;
}

* {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--f-family-Montserrat);
}

body {
  background: var(--Cream);
}

.container {
  width: 37.5rem;
  margin-inline: auto;
  
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card {
  margin: 2rem 1rem;
  border-radius: 2rem;
  background: var(--White);
}

.perfume img {
  border-radius: 2rem 2rem 0 0;
  width: 100%;
}


.desc {
  padding: 2rem;
}

h3 {
  color: var(--Dark-grayish-blue);
  letter-spacing: .5rem;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  font-family: var(--f-family-Fraunces);
  margin-block: 1rem;
}

.description {
  color: var(--Dark-grayish-blue);
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.preco {
  font-size: 3rem;
  color: var(--Dark-cyan);
  font-family: var(--f-family-Fraunces);
  margin-top: 3rem;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.preco span {
  text-decoration: line-through;
}

button {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;

  font-weight: 700;
  color: var(--White);
  background: var(--Dark-cyan);

  border: none;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 990px) {
  .container {
    width: 60rem;    
  }

  .card {
    display: flex;
  }

  .perfume img {
    border-radius: 2rem 0 0 2rem;
    width: 100%;
    height: 100%;
  }
  
  h3 {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 3.5rem;
    
  }
  
  .description {
    font-size: 1.8rem;
  }

  .preco {
    font-size: 3.5rem;
    
  }

}